<Layouts.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-[2rem] mt-4 font-semibold leading-10 tracking-tighter text-balance">
      Preferans Online
    </h1>
    <p class="mt-4 leading-7 text-base-content/70">
      Play the classic Central European card game with friends or against AI opponents.
    </p>
  </div>
</div>
